# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env
.env*.local

# Typescript
*.tsbuildinfo

# fastlane / build
build/
*.ipa
*.mobileprovision
vendor/bundle/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
